# Xcode
.DS_Store
xcuserdata/
*.xcodeproj
*.xcworkspace
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Environment files
.env
.env.*
.buildkite/environment/github

# XcodeGen
*.xcodeproj
*.xcworkspace

# Other
*.log
.idea/ 